body{
    background: #20352b;
    font-family: 'Poppins', sans-serif;
}

.fs-8px{font-size:8px;}
.fs-10px{font-size:10px;}
.fs-12px{font-size:12px;}
.fs-14px{font-size:14px;}
.fs-16px{font-size:16px;}

.fw-200 {font-weight: 200;}
.fw-400 {font-weight: 400;}
.fw-700 {font-weight: 700;}
.fw-900 {font-weight: 900;}

.badge-info {
    background:#f2f2f2;
    color:#595959;
}

.badge-info svg { 
    width: 16px;
    fill: #595959;
    position: relative;
    top: -1px;
}

/* Barra de Progesso */
.bar {
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.progress {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.percent {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    z-index: 3;
    font-weight: 700;
    font-size: 16px;
}

.text {
    padding: 4px;
    width: 80%;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
}


.two {
    background-color: rgba(0, 255, 0, 0.5);
    width: 47%;
}

.three {
    background-color: rgba(0, 0, 255, 0.5);
    width: 50%;
}


/* Fim Barra de Progesso */

/* Formata a imagem do Candito em Circulo */
.circular--portrait { position: relative; width: 65px; height: 65px; overflow: hidden; border-radius: 50%; } 
.circular--portrait img { width: 100%; height: auto; }



















  ol,
  ul.-legend {
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
  }
  ul.-legend li {
    display: inline-table;
  }
  

  #chart_legend_0{
    position:relative;
    width:100%;
    bottom:10%;
  }

  #chart_legend_0 li {
    font-size: 14px;
    margin: 10px 5px;
  }

  #chart_legend_0 li span {
      position:relative;
      padding: 0px 10px;
      border-radius: 5px;
      color:white;
      margin-right: 3px;
  
  }
  
  canvas{
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
  }
  
  #tooltip_0 {
      width: 180px;
      display: block;
      opacity: 1;
      position: absolute;
      background: rgba(255, 255, 255,0.9);
      color:#678098;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      border-radius: 6px;
      -webkit-transition: all .1s ease;
      transition: all .1s ease;
      pointer-events: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  }
  .chartjs-tooltip-key{
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 5px;
      border-radius: 3px;
      position:relative;
      top: 2px;
  }
  



  